In [1]:
import os
import sys
sys.path.append(os.path.abspath('..'))
import warnings
warnings.filterwarnings("ignore")

In [83]:
from importlib import reload
import scripts.data_load_clean_transform, scripts.analysis,scripts.store_sales_prediction
reload(scripts.data_load_clean_transform)
reload(scripts.analysis)    
reload(scripts.store_sales_prediction)

In [84]:
from scripts.data_load_clean_transform import DataLoader, DataCleaner
from scripts.analysis import CustomerBehaviorAnalysis
from scripts.store_sales_prediction import StoreSalesPredictor

# Load Data

In [4]:
# Load store data
file_path = '../week 4 data/Data/rossmann-store-sales/store.csv'
load_csv = DataLoader(file_path)
store_data = load_csv.load_data()

# load traind data
file_path = '../week 4 data/Data/rossmann-store-sales/train.csv'
load_csv = DataLoader(file_path)
train_data = load_csv.load_data()

# load test data
file_path = '../week 4 data/Data/rossmann-store-sales/test.csv'
load_csv = DataLoader(file_path)
test_data = load_csv.load_data()

2025-01-09 10:48:08,495 - INFO - Data successfully loaded from ../week 4 data/Data/rossmann-store-sales/store.csv
2025-01-09 10:48:08,497 - INFO - DataFrame Shape: (1115, 10)
2025-01-09 10:48:10,475 - INFO - Data successfully loaded from ../week 4 data/Data/rossmann-store-sales/train.csv
2025-01-09 10:48:10,477 - INFO - DataFrame Shape: (1017209, 9)
2025-01-09 10:48:10,582 - INFO - Data successfully loaded from ../week 4 data/Data/rossmann-store-sales/test.csv
2025-01-09 10:48:10,584 - INFO - DataFrame Shape: (41088, 8)

# Clean Data

In [6]:
# check missing values in store data
check_missing_store= DataCleaner(store_data)
check_missing_store.check_missing_values()

2025-01-09 11:10:58,701 - INFO - Checking for missing values in the DataFrame.
2025-01-09 11:10:58,705 - INFO - Missing values check completed.

                      Column  Missing Values  Missing Percentage Data Type
0                      Store               0            0.000000     int64
1                  StoreType               0            0.000000    object
2                 Assortment               0            0.000000    object
3        CompetitionDistance               3            0.269058   float64
4  CompetitionOpenSinceMonth             354           31.748879   float64
5   CompetitionOpenSinceYear             354           31.748879   float64
6                     Promo2               0            0.000000     int64
7            Promo2SinceWeek             544           48.789238   float64
8            Promo2SinceYear             544           48.789238   float64
9              PromoInterval             544           48.789238    object

In [5]:
# check missing values in train
check_missing_train = DataCleaner(train_data)
check_missing_train.check_missing_values()

2025-01-09 11:09:40,969 - INFO - Checking for missing values in the DataFrame.
2025-01-09 11:09:41,214 - INFO - Missing values check completed.

          Column  Missing Values  Missing Percentage Data Type
0          Store               0                 0.0     int64
1      DayOfWeek               0                 0.0     int64
2           Date               0                 0.0    object
3          Sales               0                 0.0     int64
4      Customers               0                 0.0     int64
5           Open               0                 0.0     int64
6          Promo               0                 0.0     int64
7   StateHoliday               0                 0.0    object
8  SchoolHoliday               0                 0.0     int64

In [7]:
# check missing values in train
check_missing_test = DataCleaner(test_data)
check_missing_test.check_missing_values()

2025-01-09 11:12:01,367 - INFO - Checking for missing values in the DataFrame.
2025-01-09 11:12:01,380 - INFO - Missing values check completed.

          Column  Missing Values  Missing Percentage Data Type
0             Id               0            0.000000     int64
1          Store               0            0.000000     int64
2      DayOfWeek               0            0.000000     int64
3           Date               0            0.000000    object
4           Open              11            0.026772   float64
5          Promo               0            0.000000     int64
6   StateHoliday               0            0.000000    object
7  SchoolHoliday               0            0.000000     int64

In [10]:
drop_columns = DataCleaner(test_data)
drop_columns.remove_nulls_from_columns(columns = ['Open'])

2025-01-09 11:16:20,841 - INFO - Removing rows with null values in columns: ['Open'].
2025-01-09 11:16:20,874 - INFO - Rows with null values in columns ['Open'] removed successfully.

In [11]:
# check missing values in train
check_missing_test = DataCleaner(test_data)
check_missing_test.check_missing_values()

2025-01-09 11:16:39,539 - INFO - Checking for missing values in the DataFrame.
2025-01-09 11:16:39,552 - INFO - Missing values check completed.

          Column  Missing Values  Missing Percentage Data Type
0             Id               0                 0.0     int64
1          Store               0                 0.0     int64
2      DayOfWeek               0                 0.0     int64
3           Date               0                 0.0    object
4           Open               0                 0.0   float64
5          Promo               0                 0.0     int64
6   StateHoliday               0                 0.0    object
7  SchoolHoliday               0                 0.0     int64

In [12]:
train_data.head(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1

In [13]:
test_data.head(2)

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0

In [14]:
train_date = DataCleaner(train_data)
train_date.transform_datetime(column='Date', timezone=None)

2025-01-09 11:24:56,812 - INFO - Transforming datetime column 'Date' to timezone 'None'.
2025-01-09 11:24:57,113 - INFO - Datetime transformation for column 'Date' completed.

In [16]:
test_date = DataCleaner(test_data)
test_date.transform_datetime(column='Date', timezone=None)

2025-01-09 11:26:53,513 - INFO - Transforming datetime column 'Date' to timezone 'None'.
2025-01-09 11:26:53,533 - INFO - Datetime transformation for column 'Date' completed.

In [20]:
check_missing_store = DataCleaner(store_data)
check_missing_store.check_missing_values()

2025-01-09 11:43:19,868 - INFO - Checking for missing values in the DataFrame.
2025-01-09 11:43:19,872 - INFO - Missing values check completed.

                      Column  Missing Values  Missing Percentage Data Type
0                      Store               0            0.000000     int64
1                  StoreType               0            0.000000    object
2                 Assortment               0            0.000000    object
3        CompetitionDistance               3            0.269058   float64
4  CompetitionOpenSinceMonth             354           31.748879   float64
5   CompetitionOpenSinceYear             354           31.748879   float64
6                     Promo2               0            0.000000     int64
7            Promo2SinceWeek             544           48.789238   float64
8            Promo2SinceYear             544           48.789238   float64
9              PromoInterval             544           48.789238    object

In [22]:
drop_store_columns = DataCleaner(store_data)
drop_store_columns.remove_nulls_from_columns(columns = [
    'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'])

2025-01-09 11:48:48,212 - INFO - Removing rows with null values in columns: ['CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'].
2025-01-09 11:48:48,222 - INFO - Rows with null values in columns ['CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'] removed successfully.

In [23]:
check_missing_store = DataCleaner(store_data)
check_missing_store.check_missing_values()

2025-01-09 11:49:07,769 - INFO - Checking for missing values in the DataFrame.
2025-01-09 11:49:07,774 - INFO - Missing values check completed.

                      Column  Missing Values  Missing Percentage Data Type
0                      Store               0                 0.0     int64
1                  StoreType               0                 0.0    object
2                 Assortment               0                 0.0    object
3        CompetitionDistance               0                 0.0   float64
4  CompetitionOpenSinceMonth               0                 0.0   float64
5   CompetitionOpenSinceYear               0                 0.0   float64
6                     Promo2               0                 0.0     int64
7            Promo2SinceWeek               0                 0.0   float64
8            Promo2SinceYear               0                 0.0   float64
9              PromoInterval               0                 0.0    object

# Store Sales Prediction

In [85]:
# create an instance of the 
predictor = StoreSalesPredictor(store_data, train_data, test_data)

In [86]:
# merge the store data with the train and test data
predictor.merge_data()

2025-01-09 16:31:07,546 - INFO - Merging store data with train and test data.

In [87]:
# preprocess the data
predictor.preprocess_data()

2025-01-09 16:31:12,416 - INFO - Preprocessing train and test data.
2025-01-09 16:31:12,418 - INFO - Extracting date-related features.
2025-01-09 16:31:13,045 - INFO - Extracting date-related features.
2025-01-09 16:31:13,151 - INFO - Scaling completed.

In [88]:
# build the pipeline    
predictor.build_pipeline()

2025-01-09 16:31:15,573 - INFO - Building Random Forest regression pipeline.

In [77]:
# train the model
predictor.train_model()

2025-01-09 15:41:22,800 - INFO - Training Random Forest model.
2025-01-09 15:59:21,018 - INFO - Validation MAE: 389.3893134652628
2025-01-09 15:59:21,019 - INFO - Validation MSE: 452883.7591630985

In [78]:
#  save the model
predictor.save_model()

2025-01-09 16:06:15,234 - INFO - Model saved as model_09-01-2025-16-04-53.pkl.

In [89]:
predictor.load_model("model_09-01-2025-16-04-53.pkl")

2025-01-09 16:32:14,154 - INFO - Loading model from model_09-01-2025-16-04-53.pkl.
2025-01-09 16:32:40,084 - INFO - Model loaded successfully.